@import 'tailwindcss';
@import 'tw-animate-css';

@source inline("opacity-0");
@source inline("opacity-100");
@source inline("hidden");
@source "../.slidemd-cache/**/*.svelte";

@custom-variant dark (&:is(.dark *));

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--font-primary: 'Sarabun', system-ui, -apple-system, sans-serif;
	--font-mono: 'Geist Mono', ui-monospace, 'Menlo', 'Monaco', 'Courier New', monospace;

	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.129 0.042 264.695);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.129 0.042 264.695);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.129 0.042 264.695);
	--primary: oklch(0.6878 0.1797 1.96);
	--primary-foreground: oklch(0.984 0.003 247.858);
	--secondary: oklch(0.9744 0.0141 343.2);
	--secondary-foreground: oklch(0.6574 0.2411 354.52);
	--muted: oklch(0.968 0.007 247.896);
	--muted-foreground: oklch(0.554 0.046 257.417);
	--accent: oklch(0.968 0.007 247.896);
	--accent-foreground: oklch(0.208 0.042 265.755);
	--destructive: oklch(0.5505 0.2155 19.81);
	--border: oklch(0.929 0.013 255.508);
	--input: oklch(0.929 0.013 255.508);
	--ring: oklch(0.704 0.04 256.788);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.984 0.003 247.858);
	--sidebar-foreground: oklch(0.129 0.042 264.695);
	--sidebar-primary: oklch(0.208 0.042 265.755);
	--sidebar-primary-foreground: oklch(0.984 0.003 247.858);
	--sidebar-accent: oklch(0.968 0.007 247.896);
	--sidebar-accent-foreground: oklch(0.208 0.042 265.755);
	--sidebar-border: oklch(0.929 0.013 255.508);
	--sidebar-ring: oklch(0.704 0.04 256.788);

	--code-background: oklch(0.9782 0.0034 247.86);
	--code-foreground: oklch(0.6878 0.1797 1.96);
	--code-highlight: color-mix(in oklch, #3c3c43 10%, white);
	--code-error: color-mix(in oklch, #d20f39 15%, white);
	--code-error-foreground: #d20f39;
	--code-warning: color-mix(in oklch, #df8e1d 15%, white);
	--code-warning-foreground: #df8e1d;
	--code-add: color-mix(in oklch, #40a02b 15%, white);
	--code-add-foreground: #40a02b;
	--code-del: color-mix(in oklch, #d20f39 15%, white);
	--code-del-foreground: #d20f39;
}

.dark {
	--background: oklch(0.2077 0.0398 265.75);
	--foreground: oklch(1 0 0);
	--card: oklch(0.2077 0.0398 265.75);
	--card-foreground: oklch(1 0 0);
	--popover: oklch(0.2077 0.0398 265.75);
	--popover-foreground: oklch(1 0 0);
	--primary: oklch(0.6878 0.1797 1.96);
	--primary-foreground: oklch(0.984 0.003 247.858);
	--secondary: oklch(0.2975 0.0712 326.08);
	--secondary-foreground: oklch(0.6574 0.2411 354.52);
	--muted: oklch(0.279 0.041 260.031);
	--muted-foreground: oklch(0.704 0.04 256.788);
	--accent: oklch(0.279 0.041 260.031);
	--accent-foreground: oklch(0.984 0.003 247.858);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.551 0.027 264.364);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.208 0.042 265.755);
	--sidebar-foreground: oklch(0.984 0.003 247.858);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.984 0.003 247.858);
	--sidebar-accent: oklch(0.279 0.041 260.031);
	--sidebar-accent-foreground: oklch(0.984 0.003 247.858);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.551 0.027 264.364);

	--code-background: oklch(0.279 0.041 260.03);
	--code-foreground: oklch(0.6878 0.1797 1.96);
	--code-highlight: color-mix(in oklch, white 10%, #0f172a);
	--code-error: color-mix(in oklch, #d20f39 15%, #0f172a);
	--code-error-foreground: #d20f39;
	--code-warning: color-mix(in oklch, #df8e1d 15%, #0f172a);
	--code-warning-foreground: #df8e1d;
	--code-add: color-mix(in oklch, #40a02b 15%, #0f172a);
	--code-add-foreground: #40a02b;
	--code-del: color-mix(in oklch, #d20f39 15%, #0f172a);
	--code-del-foreground: #d20f39;
}

@theme inline {
	--font-primary: var(--font-primary);
	--font-mono: var(--font-mono);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--color-code-background: var(--code-background);
	--color-code-foreground: var(--code-foreground);
	--color-code-highlight: var(--code-highlight);
	--color-code-error: var(--code-error);
	--color-code-error-foreground: var(--code-error-foreground);
	--color-code-warning: var(--code-warning);
	--color-code-warning-foreground: var(--code-warning-foreground);
	--color-code-add: var(--code-add);
	--color-code-add-foreground: var(--code-add-foreground);
	--color-code-del: var(--code-del);
	--color-code-del-foreground: var(--code-del-foreground);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground font-primary;

		line-height: 1.5;
		font-weight: 400;
		place-content: center;
		height: 100dvh;
		margin: 0;
		padding: 0;
	}

	/* Container */
	section.slide {
		@apply bg-background text-foreground;

		width: 100%;
		height: 100%;
		position: relative;
		z-index: -100;

		&.slide:not(.split) {
			padding: 2.5rem;
			overflow: auto;
			place-content: center;
		}

		&.slide.split {
			display: grid;
			grid-template: var(--split-row, 1fr) / var(--split-col, 1fr);

			&.hidden {
				display: none;
			}
		}

		&.bg::before {
			position: fixed;
			content: '';
			width: 100%;
			height: 100%;
			background-color: var(--bg-color);
			background-image: var(--bg-img);
			background-size: var(--bg-size);
			background-position: var(--bg-pos);
			background-repeat: var(--bg-repeat);
			opacity: var(--bg-opacity);
			top: 0;
			left: 0;
			z-index: -99;
		}
	}

	section.slide.split > section.split-contents {
		padding: 2.5rem;
		overflow: auto;
		place-content: center;
		position: relative;

		--bg-color: transparent;
		--bg-img: '';
		--bg-size: '';
		--bg-pos: '';
		--bg-repeat: '';
		--bg-opacity: '';

		&.bg::before {
			position: fixed;
			content: '';
			width: 100%;
			height: 100%;
			background-color: var(--bg-color);
			background-image: var(--bg-img);
			background-size: var(--bg-size);
			background-position: var(--bg-pos);
			background-repeat: var(--bg-repeat);
			opacity: var(--bg-opacity);
			top: 0;
			left: 0;
			z-index: -99;
		}
	}

	.advanced-bg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -99;
		display: grid;
		grid-template-columns: var(--bg-columns);
		grid-template-rows: var(--bg-rows);
	}

	/* Header */

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-primary text-primary;

		font-weight: 700;
		line-height: 1.25;
		margin: 24px 0 16px 0;
	}

	h1 {
		font-size: 2em; /* 32px */
	}

	h2 {
		font-size: 1.75em; /* 28px */
	}

	h3 {
		font-size: 1.5em; /* 24px */
	}

	h4 {
		font-size: 1.25em; /* 20px */
	}

	h5 {
		font-size: 1.125em; /* 18px */
	}

	h6 {
		font-size: 1em; /* 16px */
	}

	/* Text */

	p {
		margin: 16px 0;
	}

	strong {
		font-weight: 700;
	}

	em {
		font-style: oblique;
	}

	del {
		@apply decoration-primary line-through decoration-wavy decoration-2;
	}

	a {
		@apply text-primary;
	}

	/* Image */

	img {
		border-radius: 8px;
	}

	/* List */

	ul,
	ol {
		padding-left: 20px;
		margin: 16px 0;
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}

	ul ol,
	ul ul,
	ol ul,
	ol ol {
		margin: 0;
	}

	blockquote {
		@apply text-muted-foreground border-l-muted-foreground border-l-2;
		padding-left: 16px;
		margin: 16px 0;
	}

	blockquote > :first-child {
		margin-top: 0;
	}

	blockquote > :last-child {
		margin-bottom: 0;
	}

	/* Table */

	table {
		text-indent: 0;
		display: block;
		border-collapse: collapse;
		overflow-y: auto;
		margin: 16px 0;
	}

	th,
	td {
		@apply border-border outline-ring/50 border-1;
		font-size: 0.875em;
		padding: 8px 16px;
	}

	th {
		@apply bg-muted text-muted-foreground;
		text-align: left;
	}

	tr {
		@apply bg-background text-foreground;
	}

	/* tr:nth-child(2n) {
		@apply bg-muted;
	} */

	/* iframe */

	iframe {
		@apply border-border outline-ring/50 border-[1px];
		border-radius: 8px;
		width: 100%;
		height: 100%;
	}

	/* Code */

	code {
		@apply font-mono;
		font-size: 0.875em;
		line-height: 1.75;
	}

	:not(pre) > code {
		@apply text-code-foreground bg-muted;
		border-radius: 4px;
		padding: 3px 6px;
	}

	[class*='language-'] {
		@apply bg-code-background;
		position: relative;
		border-radius: 8px;
		margin: 16px 0;
	}

	[class*='language-'] pre {
		position: relative;
		padding: 20px 0px;
		overflow: auto;
	}

	[class*='language-'] code {
		display: block;
		width: fit-content;
		padding: 0px 24px;
		min-width: 100%;

		.diff,
		.highlighted {
			display: inline-block;
			width: calc(100% + 48px);
			margin-left: -24px;
			padding-left: 24px;
		}

		.highlighted {
			@apply bg-code-highlight;
		}

		.highlighted.error {
			@apply bg-code-error border-l-code-error-foreground border-2;
			padding-left: 22px;
		}

		.highlighted.warning {
			@apply bg-code-warning border-l-code-warning-foreground border-2;
			padding-left: 22px;
		}

		.diff::before {
			position: absolute;
			left: 10px;
		}

		.diff.remove {
			@apply bg-code-del;
		}

		.diff.remove::before {
			@apply text-code-del-foreground;
			content: '-';
		}

		.diff.add {
			@apply bg-code-add;
		}

		.diff.add::before {
			@apply text-code-add-foreground;
			content: '+';
		}
	}

	[class*='language-'] span {
		color: var(--shiki-light);
	}

	[class*='language-'] .has-focused .line:not(.focused) {
		filter: blur(1.5px);
		transition: filter 0.3s;
	}

	[class*='language-'] .has-focused:hover .line:not(.focused) {
		filter: none;
	}

	[class*='language-'] > span.lang {
		@apply text-muted-foreground font-mono;
		position: absolute;
		top: 5px;
		right: 10px;
		user-select: none;
		font-size: 12px;

		opacity: 0.5;
		transition: all 0.2s ease-in-out;
	}

	[class*='language-'] > button.copy {
		@apply bg-background border-border border-[1px];
		position: absolute;
		top: 12px;
		right: 12px;
		z-index: 1;

		width: 28px;
		height: 28px;

		border-radius: 6px;

		opacity: 0;
		transition: all 0.2s ease-in-out;

		&::after {
			@apply bg-muted-foreground;
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			scale: 0.8;
			mask: url('./lib/icons/copy-icon.svg') no-repeat center;
		}

		&::before {
			@apply text-muted-foreground font-mono;
			content: 'Copied!';
			position: absolute;
			top: 50%;
			left: 0%;
			transform: translate(-110%, -50%);
			font-size: 10px;

			opacity: 0;
			transition: all 0.2s ease-in-out;
		}

		&.copied {
			&::after {
				mask: url('./lib/icons/copy-check-icon.svg') no-repeat center;
			}

			&::before {
				opacity: 1;
			}
		}
	}

	[class*='language-']:hover {
		span.lang {
			opacity: 0;
		}

		button.copy {
			opacity: 1;
		}
	}

	.dark [class*='language-'] span {
		color: var(--shiki-dark);
	}
}
